.butn {
  background-color: #0b69ff;
  padding: 6px;
  border-radius: 5px;
  border-width: 0px;
  color: #ffffff;
}
.cart-summary {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 25vw;
}
